DB_HOST=example_db
DB_NAME=example_tracker
DB_USER=example_user
DB_PASSWORD=example_password

POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db

LOG_FILE=app.log
LOG_RETENTION_DAYS=7
LOG_TO_FILE=false

S3_BACKUP_BUCKET=

ADMIN_SECRET=jsdisdsncjnckjnooaosknf32gg

GF_SECURITY_ADMIN_PASSWORD=your_grafana_password