DB_HOST=example_db
DB_NAME=example_tracker
DB_USER=example_user
DB_PASSWORD=example_password

POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db

LOG_FILE=app.log
LOG_RETENTION_DAYS=7
BACKUPS_DIR=backups

GF_SECURITY_ADMIN_PASSWORD=your_grafana_password

